
:root {
    --color-green: #00a878;
    --color-red: #fe5e41;
    --color-switchButton: #fdffff;
    --color-black: #000;
}
ul,li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/*
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}*/


.addBookForm{
    display: flex;
    width: auto;
    height: auto;
}

.switchButtonCheckbox {
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
}
.switchButtonLabel {
    background-color: var(--color-red);
    width: 4em;
    height: 1em;
    border-radius: 1em;
    display: inline-block;
}
.switchButtonLabel:before {
    transition: .2s;
    display: block;
    width: 2em;
    height: 1em;
    background-color: var(--color-switchButton);
    content: '';
    border-radius: 1em;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
}

.switchButtonCheckbox:checked + .switchButtonLabel {
    background-color: var(--color-green);
}
.switchButtonCheckbox:checked + .switchButtonLabel:before {
    transform: translateX(2em);
}

.switchContainer{
    display: flex;
    gap: 0.5em;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}
.switchContainer>p{
    font-size: 1em;
}
.addBookBtn{
}
.addBookForm>ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.addBookForm>ul>li{
flex:1;
}
.addBookForm>ul>li{
    align-self: center;
    text-align: center;
}

.addBookPopupBoxBtn {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px;
    background-clip: padding-box;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.addBookPopupBox {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    position: relative;
    transition: all 5s ease-in-out;
}

.addBookPopupBox .bookPopupClose {
    position: absolute;
    top: 10px;
    right: 20px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

th:nth-child(6), td:nth-child(6) {
    background-color: rgb(196, 81, 81);
}

tr:has(.haveReadBtn[data-read="true"]) {
    background-color: rgb(140, 240, 140);
}

tr:has(.haveReadBtn[data-read="false"]) {
    background-color: rgb(240, 140, 140);
}

tr:hover {background-color: #57afaf !important;}

#bookTable>table>thead>tr{
    display: grid;
    width: 90vw;
    grid-template-columns: 4fr 4fr 1fr 3fr 2fr 4fr;
}

#bookTable>table>tbody>tr{
    display: grid;
    width: 90vw;
    grid-template-columns: 4fr 4fr 1fr 3fr 2fr 4fr;
}
#bookTable>table>tbody>tr{
    justify-items: center;
}
#bookTable>table>tbody>tr>td:nth-child(6){
    grid-column: 6;
}

#bookTable>table>thead>tr>th, #bookTable>table>tbody>tr>td{
min-width: 0;
min-height: 0;
width: 100%;
height: 100%;
}
table>*{    
    text-align: center;
}
